version: '3'

services:
  db:
    build:
      context: .
      dockerfile: platform/db/db/Dockerfile
    environment:
      POSTGRES_USER: moromin
      POSTGRES_PASSWORD: password
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: pfc-balancer

  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: moromin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pfc-balancer
    ports:
      - 5432:5432
    volumes:
      # TODO: confirm details
      - db_volume:/var/lib/postgres:cached

  migrate:
    build: ./platform/db/migrations
    depends_on:
      - postgres
    command: [ "up" ]
    environment:
      WAIT_HOSTS: postgres:5432
      MIGRATIONS_DIR: ./migrations
      POSTGRES_USER: moromin
      POSTGRES_PASSWORD: password
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: pfc-balancer
    volumes:
      - ./platform/db/migrations/migrations:/migrations

volumes:
  db_volume:
    driver: local
