version: '3'

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: moromin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pfc-balancer
    ports:
      - 5432:5432
    volumes:
      - ./platform/db/postgres/csvs:/var/lib/postgresql/csvs
      - ./platform/db/postgres/01_init_schema.sql:/docker-entrypoint-initdb.d/01_init_schema.sql
      - ./platform/db/postgres/02_load_foods.sql:/docker-entrypoint-initdb.d/02_load_foods.sql

  db:
    image: docker.io/moromin/pfc-balancer/db
    environment:
      POSTGRES_USER: moromin
      POSTGRES_PASSWORD: password
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: pfc-balancer
    ports:
      - 50050:4000
    command:
      - "-p"
      - "4000"

  user:
    image: docker.io/moromin/pfc-balancer/user
    ports:
      - 50052:4000
    command:
      - "-p"
      - "4000"
      - "-dbAddr"
      - "db:4000"

  auth:
    image: docker.io/moromin/pfc-balancer/auth
    ports:
      - 50051:4000
    command:
      - "-p"
      - "4000"
      - "-userAddr"
      - "user:4000"

  food:
    image: docker.io/moromin/pfc-balancer/food
    ports:
      - 50054:4000
    command:
      - "-p"
      - "4000"
      - "-dbAddr"
      - "db:4000"

  recipe:
    image: docker.io/moromin/pfc-balancer/recipe
    ports:
      - 50053:4000
    command:
      - "-p"
      - "4000"
      - "-dbAddr"
      - "db:4000"
      - "-authAddr"
      - "auth:4000"
      - "-userAddr"
      - "user:4000"
      - "-foodAddr"
      - "food:4000"

volumes:
  db_volume:
    driver: local
