version: '3'

services:
  db:
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: balance-app
    # volumes:
    #   - ./db/migration/01_init_schema.up.sql:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432

  api:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
      target: dev
    tty: true
    stdin_open: true
    volumes:
      - ./backend/:/go/src/app
    command: >
      sh -c "reflex -s -r '\.go$$' go run main.go"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: balance-app
    ports:
      - 8000:8000
    depends_on:
      - db
