version: '3'

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: moromin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pfc-balancer
    ports:
      - 5432:5432
    volumes:
      # TODO: confirm details
      - db_volume:/var/lib/postgres:cached
      # - ./platform/db/conf.d:/etc/postgres/conf.d

  migrate:
    build: ./platform/db/migrations
    depends_on:
      - db
    command: [ "up" ]
    environment:
      WAIT_HOSTS: db:5432
      MIGRATIONS_DIR: ./migrations
      POSTGRES_USER: moromin
      POSTGRES_PASSWORD: password
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: pfc-balancer
    volumes:
      - ./platform/db/migrations/migrations:/migrations

volumes:
  db_volume:
    driver: local
